ul, li {
  list-style: none; 
  padding: 2px;
}

.tile {
    position: relative;
    margin: 5px;
    color: #333333;
    // overflow: hidden;
    background-color: #E2E2E2;
    // border: 1px solid rgba(255, 255, 255, 0.3);
    // background-clip: padding-box;
    height: 330px;
    width: 230px;
    border-radius: 20px;

    .image {
      padding-top: 5px;
      padding-bottom: 50px;
    }

    #artist_name {
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 30px;
    }

    #gig-content{
      border-style: solid;
      border-color: #808080;
      border-radius: 25px;
      min-height: 174px;
      min-width: 174px;
      padding-top: 5px;
  }
}

.field {
 width: 20%;
 margin-left: auto;
 margin-right: auto;

}
body {
  background-color: black
}