<div class="homepage-wallpaper">
<br>
<br>
<br>
<br>
<%= image_tag 'ben_logo_new.png' %>
<h1 class="home_giggle">Giggle</h1>
  <div class = "buttons">
    <%= link_to 'Login', new_user_session_path, class: "button radius"%>
    <%= link_to 'Signup', new_user_registration_path, class: "button radius"%>
    <%= link_to 'Browse Gigs', gigs_path, class: "button radius"%>
  </div>
</div>