<!DOCTYPE html>
<html>
<head>

<h1>Welcome to Giggle</h1>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Signup', new_user_registration_path %>
<%= link_to 'Browse', gigs_path %>
  <title></title>
</head>
<body>

</body>
</html>